
h2{
	font-size: 30px;
	color: #FF9900;
	text-align: center;
	margin-right: 80px;
}

.image {
	height: 600px;
	width: 850px;
	margin-left: 50px;
}

#right {
	margin-top: -500px;
	margin-left: 1000px;
}