h1 {
	margin-top: 0;
	min-height: 80px;
	width: 100%;
}
h2{
	font-size: 30px;
	color: #FF9900;
	text-align: center;
	margin-right: 80px;
}

#right {
	margin-top: -500px;
	margin-left: 1100px;
}
#txt {
	float: right;
}
table#t01{
	width: 90em;
	height: 40em;
}
p {
	padding-left: 50px;
	font-size:20px;
	margin-top: 0px;
}